.gif{
    width: 40%;
}

.error{
    color: red;
}
@media screen and (max-width: 750px){
    .gif{
        width: 80%;
    }
}

@media screen and (max-width: 350px){
    .gif{
        width: 100%;
    }
}